html {
  background-color: #feaa01!important;
  height: 100%;
}

.nav {
  background: #feaa01!important;
}

.homeimg {
  width: 100vw;
  /* box-shadow: 0px 5px 6px -6px black; */
}

.chicken {
  background: #feaa01!important;
  color: white !important;
  font-weight: bold !important;
}

.chicken:hover {
  color: black !important;
}

.logoDiv {
  display: block !important;
  position: absolute !important;
  right: 0px !important;
}

.logo {
  font-weight: bold !important;
  margin-top: 3px;
}

.liquor, .help, .home, .random {
  background-color: #feaa01!important;
  /* height: 100vh; */
  text-align: center;
}

.random {
  background: #feaa01!important;
  padding-top: 5%;
}

.homebttns {
  padding-top: 20px;
}

.generatorbttn {
  margin-left: 2.5vw !important;
  background-color: white !important;
  color: #feaa01 !important;
  box-shadow: 1px 5px 6px -2px black !important;
  font-weight: bold !important;
  -webkit-text-stroke-width: .02px !important;
    -webkit-text-stroke-color: black !important;
}

.randombttn {
  margin-right: 2.5vw !important;
  background-color: white !important;
  color: #feaa01 !important;
  font-weight: bold !important;
  box-shadow: 1px 5px 6px -2px black !important;
  -webkit-text-stroke-width: .02px !important;
    -webkit-text-stroke-color: black !important;
}

.randomImg {
  width: 300px;
}

.ingredientsTab {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  overflow: hidden;
  padding-top: 20px;
  color: white;
}

.firstDiv {
  width: 49%;
  height: 90%;
  float: left;
  padding-right: 50px;
  padding-left: 30%;
  text-align: left;
  display: block;
}

.firstDiv2 {
  width: 49%;
  height: 90%;
  float: right;
  padding-right: 50px;
  padding-left: 5%;
  text-align: left;
  display: block;
}

li {
  list-style-type: none;
  color: white;
}

.secondDiv {
  width: 100%;
  overflow: hidden;
  padding-left: 50px;
  margin-bottom: 30px;
}

.instructionsText {
  margin-top: 15px;
  color: white;
}

.nextRandomBttn{
  background-color: white !important;
  color: #feaa01 !important;
  margin-bottom: 8%;
}